body{
	background-color:black;
}

button{
	width:31%;
	height:150px;
	height:10vw;
	margin: 1%;
	border-radius: 10px;
	font-size:20px;
	font-size:2vw;
	background-color:#555;
	color:#ccc;
}
[on=on]{
	background-color:#050;
}
[on=off]{
	background-color:#500;
}
[contact=open]{
	background-color:#550;
}