<!doctype html>
<html lang="en">
<!--
	Project: <%= project_name %>
	Start Date: <%= start_date %>

-->
	<head>
		<meta charset="utf-8" />
		<title><%= pageTitle %></title>
		<link rel="stylesheet" type="text/css" href="css/smart_control.css">
		<script src="js/jquery-3.3.1.min.js" type="text/javascript"></script>
		<script src="js/simpleAjax.js" type="text/javascript"></script>
		<script src="js/smart_control.js" type="text/javascript"></script>
		
		<!--
		
		<link rel="stylesheet" type="text/css" href="">
		-->
		 <meta name="description" content="<%= pageDesc %>">
		 <meta name="author" content="<%= developer %>">		
	</head>
	<body>
	
	</body>
</html>